



.carousel-caption { 
    padding-left: 0%;
    padding-right: 0%;
    right: 80%;
    top: 45%;
}

.carousel .carousel-item img{
    max-height: 700px;
    min-width: 1200px;
}

.header-container {
    display: flex;
    justify-content: center;
    background-color: #fdf2ed;

}

.about-us{
    padding-bottom: 20px;
}

hr {
    border: 3px solid ;
}

body{
    background-color:#fdf2ed;
    color: #A66041;
}

.nav-item1 {
    padding-left: 600%;

}

@font-face{
  font-family: myFirstFont;
  src:url(/fonts/Uni_Sans_Heavy.otf);
}
h1{
    font-family: myFirstFont;
    font-size: 55px ;
    padding-top: 2%;
    padding-bottom: 2%;
}
