



.carousel-caption { 
    padding-left: 20px;
    padding-right: 20px;
    right: 80%;
    top: 10%;
    width: 400px;
    height: auto ;
    background-color: #00000052;
    border-radius: 15%;
}

.carousel .carousel-item img{
    max-height: 700px;
    min-width: 1200px;
}

.header-container {
    display: flex;
    justify-content: center;
    background-color: #fdf2ed;

}

.about-us{
    padding-bottom: 20px;
}

a{
    color: #a9755f;
}
a:hover{
    color: #fdf2ed;
}

body{
    background-color:#fdf2ed;
    color: #A66041;
}

.nav-item1 {
    display: flex;
    justify-content: right;

}


.navbar {
    color: #fdf2ed;
    background-color:#c774517c;
}

@font-face{
  font-family: myFirstFont;
  src:url(/fonts/Uni_Sans_Heavy.otf);
}

h1{
    font-family: myFirstFont;
    font-size: 55px ;
    padding-top: 2%;
    padding-bottom: 2%;
}
.site-footer  {
    background-color:#c774517c;
    padding: 25px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    margin-top: 55px;
    text-align: right;
    }
    .container a {
        color: #737373;
        text-decoration: underline;
    }
    .container a:hover{
        color: #fdf2ed;
    }

.container-fluid {
    color: #fdf2ed;
}

h4,h5{
    color: #ffcab1
}