



.carousel-caption { 
    padding-left: 0%;
    padding-right: 0%;
    right: 80%;
    top: 45%;
}

.carousel .carousel-item img{
    max-height: 600px;
    min-width: auto;
}

.header-container {
    display: flex;
    justify-content: center;
    background-color: #fdf2ed;
    padding-top: 20px;
    padding-bottom: 20px;
}

.about-us{
    padding-bottom: 20px;
}

hr {
    border: 3px solid ;
}

body{
    background-color:#fdf2ed;
    color: #A66041;
}

.nav-item1 {
    padding-left: 530%;

}