
   

body{
    background-color:#fdf2ed;
    color: #A66041;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
h1{
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
    font-family: myFirstFont;
    font-size: 55px ;
}
@font-face{
    font-family: myFirstFont;
    src:url(/fonts/Uni_Sans_Heavy.otf);
  }
  @font-face {
    font-family: mySecondFont;

    src: url(/fonts/Uni\ Sans\ Thin.otf);}

    .container-fluid img{
        width: 70px;
        height: 70px;
    }

.site-footer  {
    width: 100%;
    background-color:#c774517c;
    padding: 25px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    margin-top: auto;

    }

    #copy{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #copy a {
        color: #737373;
        text-decoration: underline;
    }

    #copy a:hover{
        color: #fdf2ed;
    }

    .box{
        position: relative;
        width: 550px;
        height: 150px;
        left: 0;
        border: solid;
        margin-bottom: 25%;
        justify-self: center;
    }

    .containerDetails{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        padding: 20px;
        
    }

    #dateleft{
        margin-left: 50px;
        background-color: #A66041;
        font-family: myFirstFont;
        margin-left: 75px;
        color: #fdf2ed;
        height: 150px;
        text-align: center;
        font-size: 40px;
        
    }

    #dateright{
        margin-right: 50px;
        background-color:#A66041;
        height: 150px;
        margin-right: 75px;
        color: #fdf2ed;
        text-align: center;
        font-size: 40px;
        font-family: myFirstFont;
        
    }

    


     .mainBody{
        margin-bottom: 50px;
        padding-left: 200px;
        padding-right: 200px;
     }
    .navbar {
        color: #fdf2ed;
        background-color:#c774517c;
    }


.dropdown-item {
    color: #fdf2ed;
}

a{
    color: #a9755f;
}
a:hover{
    color: #fdf2ed;
}

.eventContainer{
    display: flex;
    flex-direction: column;
    margin-top: 100px ;
    margin-bottom: 100px;
}